{% extends 'base.html' %}

{% block title %}
    Каталог товаров
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main-page' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Каталог товаров</li>
        </ol>
    </nav>
    <h1>Каталог товаров</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product-details' product.id %}">{{ product.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <a class="btn btn-primary" href="{% url 'main-page' %}">Вернуться на главную страницу</a>
{% endblock %}